.class1{
    height:300px;
    width:500px;
    margin: 50px;
    background-color: indigo;
    display: inline-block;
}

.class2{
    height:100px;
    width:200px;
    margin: 20px;
    background-color: deeppink;
    display: inline-block;
}